<?php

return PhpCsFixer\Config::create()
    ->setCacheFile(__DIR__.'/.php_cs.cache')
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'array_syntax' => ['syntax' => 'short'],
        'concat_space' => ['spacing' => 'one'],
        'increment_style' => false,
        'ordered_imports' => true,
        'phpdoc_add_missing_param_annotation' => true,
        'phpdoc_align' => false,
        'phpdoc_order' => true,
        'yoda_style' => false,
    ])
    ->setFinder(PhpCsFixer\Finder::create()
        ->in(__DIR__)
    )
;

/*
This document has been generated with
https://mlocati.github.io/php-cs-fixer-configurator/?version=2.13#configurator
you can change this configuration by importing this YAML code:

version: 2.13.1
expandSets: false
fixerSets:
  - '@Symfony'
  - '@Symfony:risky'
risky: true
fixers:
  array_syntax:
    syntax: short
  concat_space:
    spacing: one
  increment_style: false
  ordered_imports: true
  phpdoc_add_missing_param_annotation: true
  phpdoc_align: false
  phpdoc_order: true
  yoda_style: false

*/
